<div class="row">
  <aside class="mb-5 mb-md-0 col-lg-3 col-md-4">
    <h1 class="h2 text-center text-sm-start ms-5">Tours khách đoàn</h1>
    <div style="margin-left: 20px;">
      <div class="row " style="border-bottom: 1px solid gray;">
        <div class="col-6">
          <a><i class="bi bi-flower3 fs-1 "></i> Mùa Xuân</a>
        </div>
        <div class="col-6">
          <a href=""><i class="bi bi-wind fs-1"></i> Mùa Hạ</a>
        </div>
        <div class="col-6 mt-3">
          <a href=""><i class='bx bxs-car fs-1'></i> Mùa Thu</a>
        </div>
        <div class="col-6 mt-3">
          <a href=""><i class="bi bi-thermometer-snow fs-1"></i> Mùa Đông</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href=""><i class='bx bxs-plane-alt fs-1'></i> Vé Máy Bay</a>
        </div>
        <div class="col-6">
          <a href=""><i class='bx bxs-ship fs-1'></i> Vé Thuyền</a>
        </div>
        <div class="col-6 mt-3">
          <a href=""><i class='bx bxs-car fs-1'></i> Vé Xe</a>
        </div>
        <div class="col-6 mt-3">
          <a href=""><i class='bx bxs-train fs-1'></i> Vé Tàu Hỏa</a>
        </div>
      </div>
      <div class="mt-4">
        <p>Địa điểm</p>
        <div class="form-check-inline  d-flex">
          <select id="Country" name="Country" class="form-select">
            <option value="">Lựa chọn quốc gia</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Brazil">Brazil</option>
            <option value="Croatia">Croatia</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Greenland">Greenland</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Philippines">Philippines</option>
            <option value="Pitcairn">Pitcairn</option>
            <option value="Portugal">Portugal</option>
            <option value="Russia">Russia</option>
            <option value="Thailand">Thailand</option>
            <option value="Turkey">Turkey</option>
          </select>
        </div>
        <div class="form-check-inline mt-3 d-flex">
          <select name="City" id="city" class="form-select">
            <option value="">Chọn thành phố</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
            <option value="Hải Phòng">Hải Phòng</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Hà Giang">Hà Giang</option>
            <option value="Vĩnh Long">Vĩnh Long</option>
            <option value="Tiền Giang">Tiền Giang</option>
            <option value="Long An">Long An</option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Đồng Tháp">Đồng Tháp</option>
          </select>
        </div>
      </div>
      <div class="mt-3">
        <p>Loại</p>
        <div class="form-check-inline d-flex">
          <select name="City" id="city" class="form-select">
            <option value="">Loại</option>
            <option value="Chỗ ở">Chỗ ở</option>
            <option value="Thể dục & thể thao">Thể dục & thể thao</option>
            <option value="Đồ ăn & nước uống">Đồ ăn & nước uống</option>
            <option value="Cuộc sống về đêm">Cuộc sống về đêm</option>
            <option value="Mua sắm">Mua sắm</option>
            <option value="Lịch sử">Lịch sử</option>
            <option value="Mỹ thuật">Mỹ thuật</option>
            <option value="Sắc đẹp">Sắc đẹp</option>
            <option value="Dịch vụ">Dịch vụ</option>
            <option value="Giải trí">Giải trí</option>
          </select>
        </div>
      </div>
    </div>
  </aside>
  <div class="col-lg-9 col-md-8">
    <div class="khachdoan d-flex flex-column flex-sm-row align-items-center justify-content-between mb-4">
      <ul class="nav nav-pills mt-3 mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link text-dark active" id="pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i
              class="bi bi-view-stacked"></i> Trong nước</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-dark" id="pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false"><i class="bi bi-sliders"></i> Nước ngoài</button>
        </li>
      </ul>
    </div>
    <div class="tab-pane fade show active mb-5 " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
      tabindex="0">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3 mt-4"
          ng-repeat="sp in products | filter: keySearch | limitTo: 20 : page | orderBy : sort  ">
          <div class="card">
            <img src="{{sp.image}}" class="card-img-top">
            <div class="onsale ">
              <span class="badge bg-danger">Giá sốc</span>
            </div>
            <div class="card-body">
              <h5 class="card-title text-success"> {{sp.name}}</h5>
              <h6 class="card-title text-danger"> Sale: {{sp.sale|number}} VNĐ</h6>
              <h6 class="card-title text-decoration-line-through"> Giá: {{sp.price | number}} VNĐ</h6>
              <p class="card-text"><i class="bi bi-stopwatch"></i> Lịch trình:{{sp.duration}}</p>
              <p class="card-text"><i class="bi bi-car-front"></i> {{sp.transport}}</p>
              <p class="card-text"><i class="bi bi-calendar-check"></i> {{sp.start}}</p>
              <p class="card-text"><i class="bi bi-house-check"></i> Khách sạn: <i
                  class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i
                  class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i
                  class="bi bi-star-fill text-warning"></i></p>
              <a class="btn btn-primary" ng-click="addSP(sp)">Đặt Ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab1 tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0"
      style="margin-top: -2720px;">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3 mt-4"
          ng-repeat="sp in products | filter: keySearch | limitTo: 20 : 20 | orderBy : sort  ">
          <div class="card">
            <img src="{{sp.image}}" class="card-img-top">
            <div class="onsale ">
              <span class="badge bg-danger">Giá sốc</span>
            </div>
            <div class="card-body">
              <h5 class="card-title text-success"> {{sp.name}}</h5>
              <h6 class="card-title text-danger"> Sale: {{sp.sale}}</h6>
              <h6 class="card-title text-decoration-line-through"> Giá: {{sp.price}}</h6>
              <p class="card-text"><i class="bi bi-stopwatch"></i> Lịch trình:{{sp.duration}}</p>
              <p class="card-text"><i class="bi bi-car-front"></i> {{sp.transport}}</p>
              <p class="card-text"><i class="bi bi-calendar-check"></i> {{sp.start}}</p>
              <p class="card-text"><i class="bi bi-house-check"></i> Khách sạn: <i
                  class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i
                  class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i
                  class="bi bi-star-fill text-warning"></i></p>
              <a class="btn btn-primary" ng-click="addSP(sp)">Đặt Ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>